<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h2>{{ item.Nombre }}</h2>
        <p>ID Producto: {{ item.ID_Producto }}</p>
        <p>Material: {{ item.Material }}</p>
        <p>Valor: {{ item.Valor }}</p>
        <p>Cantidad: {{ item.Cantidad }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para volver a la lista de productos (tab1) -->
  <ion-button expand="full" routerLink="/tabs/tab1">
    Volver a productos
  </ion-button>
</ion-content>
