<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let product of products" color="light">
      <ion-card-header>
        <ion-card-title>{{ product.Nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>ID Producto:</strong> {{ product.ID_Producto }}</p>
        <p><strong>Material:</strong> {{ product.Material }}</p>
        <p><strong>Valor:</strong> {{ product.Valor }}</p>
        <p><strong>Cantidad:</strong> {{ product.Cantidad }}</p>
        <div style="display: flex; align-items: center;">
          <ion-checkbox [(ngModel)]="product.agregado" (ionChange)="onCheckboxChange(product)" style="margin-right: 8px;"></ion-checkbox>
          <ion-label>Agregar al carrito</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <ion-button expand="full" (click)="goToCart()">Ver Carrito</ion-button>
</ion-content>
